h1{
  color:snow;
  text-align: center;
  font-family: calibri;
  background-color: teal; 
  padding: 40px;
  margin-left: 400px;
  margin-right:400px;
  
}
h2{
  color:teal;
  font-size: 20px;
  text-align: center;
}
#mamie{
  color:teal;
  font-size: 20px;
 
}
.nini{
  background-color: teal;
  color: snow;
  font-size: 25px;
  padding-left: 50px;

}
.sab{
  color: rgb(28, 54, 54);
}
.anna{
  background-color: teal;
  color:snow;
}