h1{
  color:cornsilk;
  text-align: center;
  font-family: calibri;
  background-color: teal; 
  padding: 40px;
  margin-left: 400px;
  margin-right:400px;
  
}
h2{
  color:teal;
  font-size: 20px;
  text-align: center;
}
#mamie{
  color:teal;
  font-size: 20px;
  background-color: cornsilk;

  
 
}
.nini{
  background-color: teal;
  color: cornsilk;
  font-size: 25px;
  /* padding-left: 50px; */
  text-align: center;
  
 

}
.sab{
  color: rgb(28, 54, 54);
}
.anna{
  background-color: teal;
  color:snow;
  
}
#sub{
  font-size: 20px;
  color: cornsilk;
}
.bella{
  border-bottom: 1px solid cornsilk;
  margin: 10px;
  padding:50px;
  margin-left: 100px;
  margin-right: 100px;
}