{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<body>
    {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock %}

    {% block content %}

    <h1>Welcome To one minute(60 sEC) Pitches Website</h>
        <a href={{ url_for('main.create_pitches') }}><button id="mamie">add Pitch</button></a>
        <div class="container">
            <div class="nini">
                {%for vida in pitch%}

                <p>{{vida.content}}</p>
                <a href="/comment/new/{{vida.id}}"><button id="mamie">comment</button></a>
                {% endfor%}
            </div>
        </div>
        {% endblock%}
</body>