{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<body>
    {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock %}

    {% block content %}

    <h1>Welcome To our blogging Website</h>
        <a href={{ url_for('main.create_posts') }}><button id="mamie">add Post</button></a>
        <div class="container">
            <div class="nini">
                {%for vida in post%}

                <p>{{vida.content}}</p>
                <a href="/comment/new/{{vida.id}}"><button id="mamie">comment</button></a>
                {% endfor%}
                <blockquote class="text-center text-lg">
                    <p>{{quote.content}}</p>
                    <footer><cite>{{quote.author}}</cite></footer>
                </blockquote>
            </div>
        </div>
        {% endblock%}
</body>